body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    color: white;
}



/* Rest of your CSS code */

#quiz-container {
    display: none;
}

#result-container {
    display: none;
}

#home-container {
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    padding: 3rem;
    font-size: 1rem;
}

#setup {
    display: flex;
    flex-direction: column;

}

.catagory {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#quiz-container {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(107, 104, 104, 0.087);
}

#question-container {
    list-style-type: none;
    padding: 0;
}

.que {
    margin-bottom: 20px;
}

.que h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.optcont {
    display: flex;
    flex-direction: column;
}


.submit-btn {
    background-color: #2962FF;
    color: #fff;
    border: none;
    margin: 10px 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    width: 20rem;
}



/* Quiz Styling */
#quiz-container {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.652);
    border-radius: 15px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    color: white;
    background-color: #efd000;
}

.optcont {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
}

.quiz-label {
    border: 1px solid #e74c3c;
    padding: 0.8rem;
    margin: 0.5rem;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;

}



#answers-container {
    list-style: none;
    width: 80%;
    margin: 10%;
    background-color: rgba(172, 170, 170, 0.555);
    border-radius: 15px;
    padding: 1.5rem;

}

input[type="text"] {
    border: 0;
    background: transparent;
    border-bottom: 1px solid aqua;
    outline: none;
    color: white;
    padding: 5px;
}

input[type="text"]:focus {
    border-bottom: 2px solid #3ccd2f;
    background: transparent;
    color: #fff;
}


#home-container label {
    margin: 10px 0px;
}

select {
    height: 30px;
    background-color: #0000FF;
    color: white;
    border: 0;
    padding: 5px;
    outline: none;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+label {
    color: white;
    background-color: #15bee8;
}

.cat {
    padding: 10px 0px;
    width: 100%;
}

.cat label {
    padding: 10px 10px;
    border-radius: 10px;
}





/* #result-container(div) > #answersct(ul) > li > .questiondisplay(div) > h3 > .optcont(div) > .option (div)  */








#result-container {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.652);
    border-radius: 15px;
}

#result-container ul {
    list-style-type: none;
    /* border: 1px solid green; */

}

#result-container ul li {
    /* border: 1px solid blue; */
    width: 90%;
    margin: 5% 5%;

}

.questiondisplay {
    margin-bottom: 20px;
}

.questiondisplay h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.optcont {
    display: grid;
}

.optionr {
    border: 1px solid #e74c3c;
    padding: 0.8rem;
    margin: 0.5rem;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

#result-container h1,
h3 {
    text-align: center;
}

.colors {
    width: 145px;
    margin: 5% auto;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}